<?xml version="1.0"?>
<!--
すべてのファイルを表示し
db.Debug.config および db.Release.config を編集してください。
ビルド時にソリューション構成によってそれぞれのファイルが出力されます。
-->
<connectionStrings>
    <add name="Moca.Demo.Win.My.MySettings.Database1" connectionString="Data Source=|DataDirectory|\Database1.sdf"
        providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="Moca.Demo.Win.My.MySettings.Database1ConnectionString"
        connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
