<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="moca">
			<section name="settings" type="Moca.Config.MocaSectionHandler, Moca" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="MocaDemo.My.MySettings.Db" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=Db;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<moca>
		<settings>
			<transaction type="local" />
		</settings>
	</moca>
</configuration>
